<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onGoBack()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-searchbar #mySearch></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <agm-map
    [latitude]="location.latitude"
    [longitude]="location.longitude"
    [zoom]="zoom"
    (mapClick)="onClick($event)">
    <agm-marker
      [latitude]="location.latitude"
      [longitude]="location.longitude">
    </agm-marker>
  </agm-map>

</ion-content>
